$base: #24273a;
$mantle: #1e2030;
$surface0: #363a4f;
$surface1: #494d64;
$surface2: #5b6078;
$text: #cad3f5;
$rosewater: #f4dbd6;
$lavender: #b7bdf8;
$red: #ed8796;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$blue: #8aadf4;
$muave: #c6a0f6;
$flamingo: #f0c6c6;

button {
    background: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: $muave;
    text-shadow: none;
}

.misc {
  color: $text;
}

.music-dropdown {
  background-color: $mantle;
  border-radius: 20px 20px 20px 20px;
  padding: 7px 10px 7px 10px;
}

.music-info {
  padding: 35px 10px;
}

.active-song {
  color: $teal;
}

.music-dropdown-seek trough {
  min-width: inherit;
}

scale trough {
    all: unset;
    background-color: $surface0;
    border-radius: 1.5px;
}

scale {
    padding: 0px 8px 0px 0px;
}

scale trough slider {
    background: transparent;
    outline-color: transparent;
    border-color: transparent;
    color: transparent;
    box-shadow: none;
}

scale trough highlight {
    background-color: $text;
    border-color: transparent;
}

.right-bar {
  background-color: $mantle;
  border-radius: 0px 0px 0px 20px;
  label {
    margin: 0px 5px 0px 5px;
  }
}

.left-bar {
  background-color: $mantle;
  border-radius: 0px 0px 20px 0px;
  label {
    margin: 0px 5px 0px 0px;
  }
}

.center-bar {
  background-color: $mantle;
  border-radius: 0px 0px 20px 20px;
  label {
    margin: 0px 5px 0px 5px;
  }
}

.weather {
}

.power {
  color: $red;
  background-color: $base;
  border-radius: 0px 0px 0px 20px;
}

.power2 {
  color: $red;
  border-radius: 0px 0px 0px 0px;
}

.bat {
  color: $green;
}

.time {
  color: $lavender; 
}

.volume {
  label {
    padding: 0px 5px 0px 10px;
  }
  color: $yellow;
}

.mic {
  color: $peach;

}

.div {
  font-size: 15px;
}

.active-workspace {
  color: $muave
}

.inactive-workspace {
  color: $text
}

.launcher {
  color: $blue;
  background-color: $base;
  border-radius: 0px 0px 20px 0px;
}

window {
    font-family: "JetBrainsMono", "Font Awesome 5 Free";
    background-color: transparent;
}
